



CREATE TABLE [dbo].[stage_civicrm_option_value](
	[id] [bigint] NULL,
	[option_group_id] [bigint] NULL,
	[label] [nvarchar](512) NULL,
	[name] [nvarchar](255) NULL,
	[value] [nvarchar](512) NULL,
	[is_active] [smallint] NULL
) ON [PRIMARY]

