



CREATE TABLE [dbo].[stage_civicrm_email](
	[id] [bigint] NULL,
	[contact_id] [bigint] NULL,
	[email] [nvarchar](254) NULL,
	[is_primary] [smallint] NULL,
	[is_billing] [smallint] NULL
) ON [PRIMARY]

