



CREATE TABLE [dbo].[Membership_Status_Dim](
	[Membership_Status_SID] [int] IDENTITY(1,1) NOT NULL,
	[Membership_Status_ID] [int] NULL,
	[Membership_Status] [varchar](255) NULL,
	[Is_Active] [tinyint] NULL,
 CONSTRAINT [PK_Membership_Status_Dim] PRIMARY KEY CLUSTERED 
(
	[Membership_Status_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

